<section>
  <h2>Програмні Середовища для виконання Квантових Обчислень</h2>

  <small>
    Шемет Євген, Яровий Андрій<br />
    github: <a target="_blank" href="https://github.com/yevhene/present-quantum-computers">yevhene/present-quantum-computers</a>
  </small>
</section>

<section>
  <h2>План</h2>

  <section>
    - Вступ
    - Що таке Квантові Комп'ютери
    -- Експонта
    -- NPC
    - Перелік
    - Висновок
  </section>
</section>

<section>
  <h2>Питання?</h2>
</section>
