<section>
  <h2>Програмні Середовища для виконання Квантових Обчислень</h2>

  <small>
    Шемет Євген, Яровий Андрій<br />
    github: <a target="_blank" href="https://github.com/yevhene/present-quantum-computers">yevhene/present-quantum-computers</a>
  </small>
</section>

<section>
  <h2>Історі</h2>

  <img src="/images/feynman.jpg" />

  <p>Ідею квантового комп'ютера вперше запропонував Річард Фейнман у лекції на Першій конференції з фізики обчислень у МТІ в 1981 році</p>
</section>

<section>
  <h2>Кубіт</h2>

  <section>
    <img src="/images/qubit-circle.png" />
  </section>

  <section>
    <h3>Сфера Блоха</h3>

    <img src="/images/qubit-bloch-sphere.svg" />
  </section>

  <section>
    TODO: CNOT
  </section>
</section>

<section>
  <h2>Можливості</h2>

  <section>
    <h3>Складність обчислень</h3>

    <img src="/images/complexity.svg" />
  </section>

  <section>
    <h3>Важливі Алгоритми</h3>

    <h4>Алгоритм Гровера (GSA)</h4>

    <pre><code class="fsharp" data-trim contenteditable>
f(x) = 1
    </code></pre>
  </section>

  <section>
    <h3>Важливі Алгоритми</h3>

    <h4>Алгоритм Шора</h4>

    <p>Знаходження простих множників числа</p>
  </section>

  <section>
    <h3>До-квантова криптографія</h3>

    <ul>
      <li>Факторизація цілих чисел</li>
      <li>Визначення дискретного логарифму</li>
      <li>Побудові еліптичних кривих</li>
    </ul>
  </section>

  <section>
    <h3>Загроза</h3>

    <img src="/images/quantum-threat-to-bitcoin.png" />
  </section>
</section>

<section>
  <h2>Задання квантового алгоритму</h2>

  <section>
    <h3>Схема</h3>

    <img src="/images/teleport-circuit.png" />
  </section>

  <section>
    <h3>Предметно-орієнтована мова (DSL)</h3>

    <pre><code class="fsharp" data-trim contenteditable>
module Script =
    let teleport (qs:Qubits) =
        let q0,q1,q2 = qs.[0],qs.[1],qs.[2]  // Extract 3 qubits

        // Give names to the first three qubits
        LabelL "Src" [q0]
        LabelL "\\ket{0}" [q1]
        LabelL "\\ket{0}" [q2]

        EPR[q1;q2]; CNOT qs; H qs // EPR 1,2, then CNOT 0,1 and H 0
        M[q1]; BC X [q1;q2]       // Conditionally apply X
        M[q0]; BC Z [q0;q2]       // Conditionally apply Z
        LabelR "Dest" [q2]        // Label output
    </code></pre>
  </section>

  <section>
    <h3>QASM</h3>

    <pre><code class="qasm" data-trim contenteditable>
OPENQASM 2.0;
include "qelib1.inc";
qreg q[3];
creg c0[1];
creg c1[1];
creg c2[1];
gate post q { }
u3(0.3,0.2,0.1) q[0];
h q[1];
cx q[1],q[2];
barrier q;
cx q[0],q[1];
h q[0];
measure q[0] -&gt; c0[0];
measure q[1] -&gt; c1[0];
if(c0==1) z q[2];
if(c1==1) x q[2];
post q[2];
measure q[2] -&gt; c2[0];
    </code></pre>
  </section>
</section>

<section>
  <h2>Локальні</h2>
</section>

<section>
  <h2>LIQ𝑈𝑖⏐〉</h2>

  <section>
    <h3>Режими роботи</h3>

    <ul>
      <li><b>Фізичне моделювання</b> - відтворює фізичні аспекти роботи квантового комп'ютера. Повільне. Оперує до 30 кубіт;</li>
      <li><b>Універсальне моделювання</b> - працює великою кількістю різних операцій (враховуючи ті, що задав користувач). Оперує до 30 кубіт;</li>
      <li><b>Стабілізаційне моделювання</b> - Оперує з великою кількістю кубіт (~10000). Обмежене невеликою кількістю операцій (група Кліфорда).</li>
  </section>
</section>

<section>
  <h2>Онлайн</h2>
</section>

<section>
  <h2>Google QuantumPlayground</h2>

  <p>Хмарний симулятор та квантовий комп'ютер на 5 кубіт.</p>
</section>

<section>
  <h2>Реальні</h2>
</section>

<section>
  <h2>Quantum in the Cloud</h2>
  <h3>The University of Bristol</h3>

  <p>Хмарний симулятор та квантовий комп'ютер на 5 кубіт.</p>
</section>

<section>
  <h2>Forest (Rigetti)</h2>

  <section>
    <h3>Симулятор</h3>

    <ul>
      <li>Загальнодоступний хмарний симулятор на 26 кубіт;</li>
      <li>Обмежений доступ до хмарного симулятора на 30 кубіт.</li>
    </ul>

    <p>Всі симулятори доступні через API.</p>
  </section>

  <section>
    <h3>Комп'ютер</h3>

    <p>Загальнодоступний комп'ютер на 19 кубіт.</p>
  </section>
</section>

<section>
  <h2>IBM Q Experience</h2>

  <section>
    <h3>Симулятор</h3>

    <p>Доступний хмарний симулятор на 32 кубіта.</p>
  </section>

  <section>
    <h3>Доступні комп'ютери</h3>

    <ul>
      <li><b>IBM Q 5 Yorktown</b> - загальнодоступний в графічному режимі та через QISKIT;</li>
      <li><b>IBM Q 5 Tenerife</b> - загальнодоступний в графічному режимі та через QISKIT;</li>
      <li><b>IBM Q 16 Rueschlikon</b> - загальнодоступний через QISKIT;</li>
      <li><b>IBM Q 20 Austin </b> - доступний для партнерів через QISKIT;</li>
    </ul>
  </section>

  <section>
    <h3>Арзітектура IBM Q 5 Yorktown</h3>

    <img class="blue" src="/images/ibm-yorktown-architecture.png" />
  </section>

  <section>
    <h3>Топологія IBM Q 5 Yorktown</h3>

    <img class="blue" src="/images/ibm-yorktown-topology.png" />
  </section>

  <section>
    <h3>Графічний інструмент</h3>

    <img src="/images/ibm-quantum-composer.png" />

    <p>Доступна симуляція та отримання даних із кешу</p>
  </section>
</section>

<section>
  <h2>Питання?</h2>
</section>
